In [12]:
#basic function program
def hello():
    print("Hello World")
hello()

Hello World

In [9]:
#positional arguments
def calcu(a,b):
    print("Addition:",a+b)
    print("Subtraction:",a-b)
    print("Multiplication:",a*b)
    print("Division:",a/b)
    print("-"*36)
calcu(5,2)
calcu(3,4)

Addition: 7
Subtraction: 3
Multiplication: 10
Division: 2.5
------------------------------------
Addition: 7
Subtraction: -1
Multiplication: 12
Division: 0.75
------------------------------------

In [18]:
#default argument
def simple_interest(p,r=2,t=5):
    interest=(p*r*t)/100
    print(f"Simple interest is {interest}")
simple_interest(1000)
simple_interest(1000,5)
simple_interest(1000,5,10)

Simple interest is 100.0
Simple interest is 250.0
Simple interest is 500.0

In [20]:
#keyword argument
def student(firstname,lastname):
    print(firstname,lastname)
student(firstname="Nimisha",lastname="Davis")
student(firstname="Nimisha",lastname="Shareef")

Nimisha Davis
Nimisha Shareef

In [22]:
#Arbitary arguments
def student(*args):
    for i in args:
        print(i)
student(1,2,3,4)

1
2
3
4

In [32]:
#Arbitary arguments
def student(**kwargs):
    for i,j in kwargs.items():
        print(i,j)
student(m=1,n=2,o=3)

m 1
n 2
o 3

In [7]:
#return example

def test(a,b):
    sum=a+b
    average=sum/2
    return sum,average
r1,r2=test(1,2)
print(f"sum: {r1}")
print(f"average: {r2}")

sum: 3
average: 1.5

In [19]:
#factorial 
def factorial(num):
    fact=1
    for i in range(1,num+1):
        fact*=i
    print(f"the factorial of {num} is {fact}")

factorial(5)

the factorial of 5 is 120

In [25]:
#factorial  using return
def factorial(num):
    fact=1
    for i in range(1,num+1):
        fact*=i
    return fact,num

fact,num=factorial(5)
print(f"the factorial of {num} is {fact}")

the factorial of 5 is 120

In [7]:
#reverse of a string
def rev(s):
    return s[::-1]

s=rev("nimisha")
print("the string is:",s)

the string is: ahsimin

In [5]:
#max value in list
lst=[1,2,33,4,5,12]
def max_list(lst):
    print(max(lst))
max_list(lst)

33

In [67]:
lst=[1, 2, 3, 4, 5]

def max_list(lst):
    max_value=lst[0]
    for num in lst:
        if num>max_value:
            max_value=num
    print(max_value)

max_list(lst)

5

In [54]:
#f-c and c-f

temp=int(input("Enter temp:"))

def f_c(fahrenheit):
    return(fahrenheit-32)*5/9

def c_f(celsius):
    return(celsius*9/5+32)


c_temp=f_c(temp)
f_temp=c_f(temp)

print(f"{c_temp}C is equal to {f_temp}F")
print(f"{f_temp}F is equal to {c_temp}C")

Enter temp: 122

50.0C is equal to 251.6F
251.6F is equal to 50.0C

In [115]:
#arbitary list
def max_list(*args):
    max_value=args[0]
    for num in args:
        if num>max_value:
            max_value=num
    return max_value


max_value = max_list(1,2,3,4,5,12,16,100,2)
print(max_value)

100

In [113]:
#count vowels in string
def count_vowels(s):
    vowels='aeiouAEIOU'
    count=0
    for char in s:
        if char in vowels:
            count+=1
    return count

name=input("Enter a string: ")
print(f"The number of vowels in the string is: {count_vowels(name)}")

Enter a string:  nimisha

The number of vowels in the string is: 3

In [103]:
#check num prime or not

def is_prime(num):
    if num<=1:
        return False
    for i in range(2,num):
        if num%i==0:
            return False
    return True

num=int(input("Enter a number: "))
if is_prime(num):
    print(num, "is a prime number.")
else:
    print(num, "is not a prime number.")

Enter a number:  153

153 is not a prime number.

In [91]:
#find length of the list without using len()
def list_length(lst):
    count=0
    for i in lst:
        count+=1
    return count

my_list=[1,2,3,4,5]
print(f"The length of the list is: {list_length(my_list)}")

The length of the list is: 5

In [93]:
#sum of even numbers from list

def sum_of_even_numbers(lst):
    total=0
    for num in lst:
        if num%2==0:
            total+=num
    return total

my_list=[1,2,3,4,5,6]
print(f"The sum of even numbers is: {sum_of_even_numbers(my_list)}")

The sum of even numbers is: 12

In [95]:
#sum of odd numbers from list
def sum_of_odd_numbers(lst):
    total=0
    for num in lst:
        if num%2!= 0:
            total+=num
    return total


my_list=[1,2,3,4,5,6]
print(f"The sum of odd numbers is: {sum_of_odd_numbers(my_list)}")

The sum of odd numbers is: 9

In [97]:
#count number of char in a string

def count_characters(s):
    count = 0
    for char in s:
        count += 1
    return count

print(f"The number of characters in the string is: {count_characters("hello")}")

The number of characters in the string is: 5

In [4]:
#recursive function
def rec_fact(n):
    if n==1:
        return n
    else:
        return n * rec_fact(n-1)
num=5
if num<0:
    print("enter positive num")
elif num==0:
    print("factorial of 0 is 1")
else:
    print(f"factorial of {num} is {rec_fact(num)}")

factorial of 5 is 120

In [8]:
#cube of a number
#user defined function
def cube(x): 
    return x*x*x
print(cube(5))

#lambda function
cube_lam=lambda x:x*x*x
print(cube_lam(6))

125
216

In [10]:
#sum of 2 number
sum_lam=lambda x,y:x+y
print(sum_lam(3,2))

5

In [3]:
#map()
abcd = [1, 2, 3, 4, 5,8] 
# Use map() with a lambda function to compute squares
res = list(map(lambda x: x * x, abcd))
print(res)

[1, 4, 9, 16, 25, 64]

In [29]:
abcd = [1, 2, 3, 4, 5,8]  
# Use map() with a lambda function to compute squares
res = list(map(lambda x: x ** 2, abcd))
print(res)

[1, 4, 9, 16, 25, 64]

In [33]:
abcd = [1, 2, 3, 4, 5,8]  
res = list(map(lambda x: x * 2, abcd))
print(res)

[2, 4, 6, 8, 10, 16]

In [37]:
#use map() with userdefined function to convert c-f
celsius_temps=[0,10,20,30,40]
def celsius_to_fahrenheit(celsius):
    return (celsius*9/5)+32
fahrenheit_temps=list(map(celsius_to_fahrenheit,celsius_temps))
print(fahrenheit_temps)

[32.0, 50.0, 68.0, 86.0, 104.0]

In [39]:
#filter
l1=[2,3,4,5,1,6,9]
f=filter(lambda x:x%2==0,l1)
print(list(f))

[2, 4, 6]

In [46]:
#filter
l1=[2,3,4,5,1,6,9]
f=list(filter(lambda x:x%2==0,l1))
print(f)

[2, 4, 6]

In [63]:
#string palindrome or not
def pal(s):
    s=s.lower()
    return s==s[::-1]
s1=input("Enter a string")
if pal(s1):
    print("YES")
else:
    print("NO")

Enter a string malayalam

YES

In [65]:
#Task:
#1.enter no of days and display months name which have exact days
#2.accept five number from user and store in a tuple and find largest ,smallest,sum,average
#3.element in a given set that are not in another set
#4.write a program to find the sum of following series
    # x+ x^2/2 + x^3/3+ ....x^n/n
#5.write a program to find the first number greater than 10 (jumping statements) of n natural numbers

In [5]:
#1.enter no of days and display months name which have exact days
def months(days):
    months_dict={
        31: ["January","March","May","July","August","October","December"],
        30: ["April","June","September","November"],
        28: ["February"],
    }
    result=months_dict.get(days, []) 
    if result:
        print(f"Months with {days} days: {', '.join(result)}")
    else:
        print("Oopsieeee.....No month has exactly that number of days.")
days=int(input("Enter the number of days:"))
months(days)

Enter the number of days: 31

Months with 31 days: January, March, May, July, August, October, December

In [73]:
#2.accept five number from user and store in a tuple and find largest ,smallest,sum,average
numbers=tuple(int(input("Enter a number: ")) for i in range(5))
largest=max(numbers)
smallest=min(numbers)
total_sum=sum(numbers)
average=total_sum/len(numbers)
print(f"Numbers:{numbers}")
print(f"Largest:{largest}")
print(f"Smallest:{smallest}")
print(f"Sum:{total_sum}")
print(f"Average:{average}")

Enter a number:  12
Enter a number:  13
Enter a number:  45
Enter a number:  154
Enter a number:  2

Numbers:(12, 13, 45, 154, 2)
Largest:154
Smallest:2
Sum:226
Average:45.2

In [75]:

#3.element in a given set that are not in another set
set1={1, 2, 3, 4, 5}
set2={4, 5, 6, 7, 8}

def ds(set1,set2):
    difference=set1-set2
    return difference
print(f"Elements in set1 that are not in set2: {ds(set1,set2)}")

Elements in set1 that are not in set2: {1, 2, 3}

In [7]:

#4.write a program to find the sum of following series
    # x+ x^2/2 + x^3/3+ ....x^n/n

def series_sum(x, n): #2,2
    total=0 #0
    for i in range(1, n + 1): #1,3
        total+=(x ** i) / i #TOTAL = total+ (2**1)/1    | 2**2/2
    return total
x=float(input("Enter the value of x: ")) #2
n=int(input("Enter the number of terms (n):"))#2
print(f"Sum of the series:{series_sum(x, n)}") #2,2

Enter the value of x:  5
Enter the number of terms (n): 5

Sum of the series:840.4166666666666

In [11]:

#5.write a program to find the first number greater than 10 (jumping statements)
def f():
    number=1 
    while True: 
        if number>10:
            return number
            break
        number+=1  
f_n=f()
print(f"The first natural number greater than 10 is: {f_n}")

The first natural number greater than 10 is: 11

In [15]:

#5.write a program to find the first number greater than 10 (jumping statements)

for i in range(1,20):
    if i>10:
        print(i)
        break

11