In [1]:
print("hello")

hello

In [2]:
a=4
b=5

#arithmetic operators
c=a+b
print(c)
print(a-b)
print(a/b)
print(a*b)
print(a//b)
print(a**b)
print(a%b)

9
-1
0.8
20
0
1024
4

In [3]:
#assignment operators
a+=b
print("the a+=b result is :",a)
a-=b
print("the a-=b result is :",a)
a*=b
print("the a*=b result is :",a)
a/=b
print("the a/=b result is :",a)
a%=b
print("the a%=b result is :",a)
a**=b
print("the a**=b result is :",a)

the a+=b result is : 9
the a-=b result is : 4
the a*=b result is : 20
the a/=b result is : 4.0
the a%=b result is : 4.0
the a**=b result is : 1024.0

In [4]:
#Relational Operators
x=2
y=3
print(x==y)
print(x!=y)
print(x<y)
print(x>y)
print(x<=y)
print(x>=y)

False
True
True
False
True
False

In [5]:
#Logical Operators
p=2
q=3
print( p==2 and q==4)
print( p==2 or q==4)
print(not(p==3))
print(not(p==2))

False
True
True
False

In [6]:
#identity operators
a=2
b=4
print(a is b)
print(a is not b)

False
True

In [7]:
#Membership operators
a=[1,2,3]
print(3 in a)
print(3 not in a)
print(4 in a)

True
False
False

In [8]:
#bitwise operators
a=10
b=4
print("a & b is ",a & b)
print("a | b is ",a | b)
print("a ^ b is ",a ^ b)
print("~ b is ", ~ b)
print("a << b is ",a << b)
print("a >> b is ",a >> b)

a & b is  0
a | b is  14
a ^ b is  14
~ b is  -5
a << b is  160
a >> b is  0

In [9]:
#user input
a=int(input("enter first number:"))
b=int(input("enter second number:"))


#arithmetic operators
c=a+b
print(c)
print(a-b)
print(a/b)
print(a*b)
print(a//b)
print(a**b)
print(a%b)

#assignment operator
a+=b
print("the a+=b result is :",a)
a-=b
print("the a-=b result is :",a)
a*=b
print("the a*=b result is :",a)
a/=b
print("the a/=b result is :",a)
a%=b
print("the a%=b result is :",a)
a**=b
print("the a**=b result is :",a)

enter first number: 2
enter second number: 2

4
0
1.0
4
1
4
0
the a+=b result is : 4
the a-=b result is : 2
the a*=b result is : 4
the a/=b result is : 2.0
the a%=b result is : 0.0
the a**=b result is : 0.0

In [10]:
#average of numbers
a=int(input("enter first number:"))
b=int(input("enter second number:"))
c=int(input("enter third number:"))
average=(a+b+c)/3
print("average of these numbers is:",average)

enter first number: 3
enter second number: 5
enter third number: 54

average of these numbers is: 20.666666666666668

In [11]:
type(average)

float

In [12]:
a=input("enter anything here")
print(a)
type(a)

enter anything here 2

2

str

In [13]:
#area of circle 
radius=int(input("type radius of circle"))
area=3.14*radius**2
print("area of circle is:",area,"sq units")
#circumference of circle
circumference=2*3.14*radius
print("circumference of circle is :",circumference,"sq units")

type radius of circle 1

area of circle is: 3.14 sq units
circumference of circle is : 6.28 sq units

In [14]:
#area of rectangle
length=int(input("enter length of rectangle"))
width=int(input("enter width of rectangle"))
r_area=length*width
print("area of rectangle is :",r_area)
print("===========================================")

#area of square
side=int(input("enter side of square"))
#s_area=side*side
s_area=side**2
print("area of square is :",s_area)

enter length of rectangle 5
enter width of rectangle 6

area of rectangle is : 30
===========================================

enter side of square 4

area of square is : 16

In [15]:
#find percentage of mark
name=input("enter your name:")
mark1=int(input("enter obtained mark1:"))
mark2=int(input("enter obtained mark2:"))
total=int(input("enter grand total mark:"))

#obtained=mark1+mark2
#percentage=(obtained/total)*100

percentage=((mark1+mark2)/total)*100

print(name,"your percentage is",percentage)

enter your name: 7
enter obtained mark1: 5
enter obtained mark2: 6
enter grand total mark: 1

7 your percentage is 1100.0

In [16]:
#area of triangle
base=int(input("enter base of triangle"))
height=int(input("enter height of triangle"))
t_area=0.5*base*height
print("Area of triangle is :",t_area)

enter base of triangle 2
enter height of triangle 3

Area of triangle is : 3.0

In [17]:
#find speed
distance=int(input("enter distance:"))
time=int(input("enter time:"))
speed=distance/time
print("the speed is :",speed,"m/s")

enter distance: 4
enter time: 5

the speed is : 0.8 m/s

In [18]:
#Celsius to Farenheit
celsius=int(input("enter temperature in celsius:"))
convert_farenheit=(celsius*9/5)+32
print("the celsius temperature is :",celsius,"degree celsius.and converted to farenheit is:",convert_farenheit,"F")


#Farenheit to Celsius
farenheit=int(input("enter temperature in farenheit:"))
convert_celsius=(farenheit-32)*(5/9)
print("the Farenheit temperature is :",farenheit,"F.and converted to celsius is:",convert_celsius,"degree celsius")

enter temperature in celsius: 56

the celsius temperature is : 56 degree celsius.and converted to farenheit is: 132.8 F

enter temperature in farenheit: 54

the Farenheit temperature is : 54 F.and converted to celsius is: 12.222222222222223 degree celsius

In [19]:
#String functions

#len()
name="Nimisha"
print("length of string",name," is :",len(name))
location=input("enter your location")
print("length of string",location,"is:",len(location))
print("<Note:empty space will be taken as a character>")

length of string Nimisha  is : 7

enter your location 4

length of string 4 is: 1
<Note:empty space will be taken as a character>

In [37]:
#Indexing
#forward indexing
message=input("enter your message")
index=int(input("enter the index position you want to retreive"))
print("the value in the index",index,"is:",message[index])
print("=====================================================================")
index2=int(input("enter the second index position you want to retreive"))
print("the value in the index",index,":",index2,"is:",message[index:index2])
print("<Note:the string will displayed from index to (index2-1)>")
print("=====================================================================")

#backward indexing
index3=int(input("enter the negative index position you want to retreive"))
print("the value in the negative index",index3,"is:",message[index3])
print("<Note:the negative indexing starts from -1 and retrieve last letter")
print("=====================================================================")
index4=int(input("enter the second negative index position you want to retreive"))
print("the value in the index",index3,":",index4,"is:",message[index3:index4])
print("<Note:the string will displayed from index3 to (index4-1) and index3 must be smaller number>")

enter your message hello
enter the index position you want to retreive 2

the value in the index 2 is: l
=====================================================================

enter the second index position you want to retreive 1

the value in the index 2 : 1 is:
<Note:the string will displayed from index to (index2-1)>
=====================================================================

enter the negative index position you want to retreive 1

the value in the negative index 1 is: e
<Note:the negative indexing starts from -1 and retrieve last letter
=====================================================================

enter the second negative index position you want to retreive 1

the value in the index 1 : 1 is:
<Note:the string will displayed from index3 to (index4-1) and index3 must be smaller number>

In [39]:
value=input("enter value")
index=int(input("enter index"))
print("the value in the position",index,"is:",value[index-1])

enter value hello
enter index 2

the value in the position 2 is: e

In [40]:
#slicing
name="Nimisha"
print(name[3])
print(name[3:5])
print(name[3:])
print(name[:5])
print(name[-3])
print(name[-5:-3])
print(name[-3:])
print(name[:-5])

i
is
isha
Nimis
s
mi
sha
Ni

In [41]:
#Concatenation
first_name=input("enter your firstname")
last_name=input("enter your lastname")
fullname=first_name+" "+last_name
print("My name is :",fullname)
print(fullname*3)

enter your firstname n
enter your lastname s

My name is : n s
n sn sn s

In [42]:
#Captialize
text = "hello, World!"
print(text.capitalize())

Hello, world!

In [43]:
#casefold() and lower()
text = "Straße"
print(text.lower())    # Output: "straße"
print(text.casefold())  # Output: "strasse"
#In this example, casefold() converts the German character "ß" into "ss," 
#which is more appropriate for case-insensitive comparisons. 
#This makes casefold() the preferred method when you need to perform robust 
#and accurate case-insensitive string comparisons.

straße
strasse

In [44]:
#count
text = "Hello, World!"
print(text.count("o"))

2

In [45]:
#find
text = "Hello, World!"
print(text.find("llo"))

2

In [46]:
#isdigit
text1 = "12345"
print(text1.isdigit())  

text2 = "12345abc"
print(text2.isdigit())  

text3 = "123.45"
print(text3.isdigit())  

text4 = "²³"
print(text4.isdigit())

True
False
False
True

In [47]:
#isalnum
text1 = "Hello123"
print(text1.isalnum())  

text2 = "Hello 123"
print(text2.isalnum())  

text3 = "12345"
print(text3.isalnum())  

text4 = "Hello!"
print(text4.isalnum())  

text5 = ""
print(text5.isalnum())

True
False
True
False
False

In [48]:
#islower
text1 = "hello world"
print(text1.islower())  

text2 = "Hello World"
print(text2.islower())  

text3 = "hello123"
print(text3.islower())  

text4 = "12345"
print(text4.islower())  

text5 = "hello!"
print(text5.islower())

True
False
True
False
True

In [49]:
#lower ,upper
text = "Hello, World!"
print(text.lower())  
text = "Hello, World!"
print(text.upper())

hello, world!
HELLO, WORLD!

In [50]:
#strip : Removes leading and trailing whitespace from the string.
text = "   Hello, World!   "
print(text.strip())

Hello, World!

In [51]:
#replace() : Replaces occurrences of a substring with another substring.
text = "Hello, World!"
print(text.replace("World", "Python"))

Hello, Python!

In [52]:
#split() : Splits the string into a list of substrings based on a delimiter.
text = "Hello, World!"
print(text.split(","))

['Hello', ' World!']

In [53]:
#join() :Joins elements of a list into a single string, using a specified separator.
words = ["Hello", "World"]
print(" ".join(words))

Hello World

In [54]:
#startswith() : Checks if the string starts with a specified prefix.
text = "Hello, World!"
print(text.startswith("Hello"))

True

In [55]:
#endswith() : Checks if the string ends with a specified suffix.
text = "Hello, World!"
print(text.endswith("!"))

True

In [56]:
#title() :Capitalizes the first character of each word in the string.
text = "hello, world!"
print(text.title())

Hello, World!

In [57]:
#format() :Formats specified values in a string.
text = "Hello, {}!"
print(text.format("Python"))

Hello, Python!

In [58]:
#isnumeric() :Checks if all characters in the string are numeric.
text = "12345"
print(text.isnumeric())  

text = "12345abc"
print(text.isnumeric())

True
False

In [59]:
#Data types - List
list_a=[1,2,3]
print(list_a)
list_b=["hello","all"]
print(list_b)
list_c=[1,2.3,'a',"hello",True]
print(list_c)
print(list_c[1])
print(list_c[-1])
print(list_c[1:3])

#list()
msg="welcome all"
print(list(msg))

#manipulation
list_d=["nimisha","nisa","davis"]
list_d[1]="hello"
print(list_d)

[1, 2, 3]
['hello', 'all']
[1, 2.3, 'a', 'hello', True]
2.3
True
[2.3, 'a']
['w', 'e', 'l', 'c', 'o', 'm', 'e', ' ', 'a', 'l', 'l']
['nimisha', 'hello', 'davis']

In [60]:
# other list functions
list_e=[1,2,3,4,5,2,5,4,2,2,3,4,2,3]
print(list_e)
list_e.append(6) #add at last
print(list_e)
list_f=list_e.copy() #copy list
print(list_f)
list_f.clear() #clear list
print(list_f)
print(list_e.count(2)) #returns count of particular value
list_e.sort() #sort list
print(list_e)
list_e.sort(reverse=True) #sort list in reverse
print(list_e)
list_z=[1,2,3,4]
list_z.insert(2,"hi")
print(list_z)

[1, 2, 3, 4, 5, 2, 5, 4, 2, 2, 3, 4, 2, 3]
[1, 2, 3, 4, 5, 2, 5, 4, 2, 2, 3, 4, 2, 3, 6]
[1, 2, 3, 4, 5, 2, 5, 4, 2, 2, 3, 4, 2, 3, 6]
[]
5
[1, 2, 2, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 6]
[6, 5, 5, 4, 4, 4, 3, 3, 3, 2, 2, 2, 2, 2, 1]
[1, 2, 'hi', 3, 4]

In [61]:
#Tuple
tuple_t=(1,2,3,4,5,2,3,"hi")
print(tuple_t)
print(tuple_t[2])
print(tuple_t[-2])
print(tuple_t[2:4])
print(tuple_t.count(2))#count of particular value
print(tuple_t.index("hi"))# find index position

(1, 2, 3, 4, 5, 2, 3, 'hi')
3
3
(3, 4)
2
7

In [62]:
#Task - Other Tuple functions
t = (1, 2, 3)
print(len(t))  # Returns the length of the tuple.

t = (1, 2, 3)
print(min(t))  # Returns the smallest element in the tuple.

t = (1, 2, 3)
print(max(t))  # Returns the largest element in the tuple.

t = (1, 2, 3)
print(sum(t))  # Returns the sum of all elements in the tuple.

t = (3, 1, 2)
print(sorted(t))  # Returns a sorted list of the tuple's elements.

l = [1, 2, 3]
t = tuple(l)
print(t)  # Converts list into a tuple.

t = (0, False, True)
print(any(t))  # Returns True if at least one element in the tuple is True.

t = (1, True, 3)
print(all(t))  # Returns True if all elements in the tuple are True.

3
1
3
6
[1, 2, 3]
(1, 2, 3)
True
True

In [63]:
#Task - Other list functions
l1 = [1, 2, 3]
l2 = [4, 5]
l1.extend(l2)
print(l1)  # Extends the list by appending elements from another list.

l = [1, 2, 3, 2]
l.remove(2)
print(l)  #  Removes the first occurrence of a specified element.

l = [1, 2, 3]
print(l.pop())  # Output: 3
print(l)  # Removes and returns the element at the specified position (or last element if no position is specified).

l = [1, 2, 3]
print(l.index(2))  # Returns the index of the first occurrence of a specified element.

l = [1, 2, 3]
l.reverse()
print(l)  # Reverses the elements of the list.

[1, 2, 3, 4, 5]
[1, 3, 2]
3
[1, 2]
1
[3, 2, 1]

In [64]:
#Dictionary
marks1={"nimisha":98,"nisa":94,"sha":99}
marks2={"mini":48,"davis":64,"fendro":49}
marks3={"flenil":18,"femi":45,"flemi":79}

# Returns the value for the specified key if the key is in the dictionary; otherwise, returns a default value
print(marks1.get("nisa"))  
print(marks1.get("test", "Not Found")) 

#a list of all the keys in the dictionary.
print(marks1.keys()) 

#a list of all the values in the dictionary.
print(marks1.values()) 

#a list of all the key-value pairs in the dictionary as tuples.
print(marks1.items()) 

#Removes the item with the specified key and returns its value. If the key is not found, it returns a default value if provided.
print(marks2)
print(marks2.pop("mini")) 
print(marks2)

#Removes and returns the last key-value pair as a tuple. Raises a KeyError if the dictionary is empty.
print(marks3)
print(marks3.popitem()) 
print(marks3)

#Updates the dictionary with the key-value pairs from another dictionary or an iterable of key-value pairs.
marks3.update({"c": 3, "d": 4})
print(marks3)

#Removes all items from the dictionary.
marks3.clear()
print(marks3)

#fromkeys()
dict_1={"a":1,"b":2,"c":3}
dict_2=dict_1.fromkeys(dict_1,'x')
print(dict_2)

#The setdefault() method in Python is used with dictionaries. It retrieves the value of a specified key in a dictionary. 
#If the key is not present, it inserts the key with a specified value and returns that value. 
#If the key is already present, it returns the existing value without altering the dictionary.
my_dict = {'a': 1, 'b': 2}
result = my_dict.setdefault('a')
print(result)  # Output: 1
print(my_dict) # Output: {'a': 1, 'b': 2}

my_dict = {'a': 1, 'b': 2}
result = my_dict.setdefault('c', 10)
print(result)  # Output: 10
print(my_dict) # Output: {'a': 1, 'b': 2, 'c': 10}
#Since 'c' is not present, setdefault() inserts 'c' with the value 10 and returns 10.

94
Not Found
dict_keys(['nimisha', 'nisa', 'sha'])
dict_values([98, 94, 99])
dict_items([('nimisha', 98), ('nisa', 94), ('sha', 99)])
{'mini': 48, 'davis': 64, 'fendro': 49}
48
{'davis': 64, 'fendro': 49}
{'flenil': 18, 'femi': 45, 'flemi': 79}
('flemi', 79)
{'flenil': 18, 'femi': 45}
{'flenil': 18, 'femi': 45, 'c': 3, 'd': 4}
{}
{'a': 'x', 'b': 'x', 'c': 'x'}
1
{'a': 1, 'b': 2}
10
{'a': 1, 'b': 2, 'c': 10}

In [65]:
#set
#Creating a Set from a List
my_list = [1, 2, 3, 4, 4, 5]
my_set = set(my_list)
print(my_set) 

set1={1,2,3,4,5,2,3,4,"hi"}
print(set1)

#Adding Elements to a Set
set1.add(10)
print(set1)  

#Returns a new set with elements that are in the calling set but not in the other set(s).
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5}
result = set1.difference(set2)
print(result)  

#Removes a specified element from the set if it is present. If the element is not found, no error is raised.
my_set = {1, 2, 3, 4}
my_set.discard(3)
print(my_set)  

#Returns a new set containing only the elements that are common to all the specified sets.
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5}
result = set1.intersection(set2)
print(result)  

#Returns True if two sets have no elements in common; otherwise, returns False.
set1 = {1, 2, 3}
set2 = {4, 5, 6}
print(set1.isdisjoint(set2))  

#Returns True if all elements of the calling set are present in the specified set; otherwise, returns False.
set1 = {1, 2}
set2 = {1, 2, 3, 4}
print(set1.issubset(set2))  

#Returns True if the calling set contains all elements of the specified set; otherwise, returns False.
set1 = {1, 2, 3, 4}
set2 = {2, 3}
print(set1.issuperset(set2))  

#Removes and returns an arbitrary/first element from the set. Raises a KeyError if the set is empty.
my_set = {1, 2, 3, 4}
element = my_set.pop()
print(element)  
print(my_set)   

#Removes a specified element from the set. Raises a KeyError if the element is not found.
my_set = {1, 2, 3, 4}
my_set.remove(3)
print(my_set) 


#Returns a new set containing elements that are in either of the sets, but not in both.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
result = set1.symmetric_difference(set2)
print(result)  

#Returns a new set containing all elements from both sets.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
result = set1.union(set2)
print(result)  

#Updates the calling set, adding elements from all specified sets.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)
print(set1)  

#The clear() method in Python is used to remove all elements from a set, effectively emptying it. 
#After calling clear(), the set will be empty, but the set itself will still exist.
my_set = {1, 2, 3, 4}
my_set.clear()
print(my_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 'hi'}
{1, 2, 3, 4, 5, 10, 'hi'}
{1, 2}
{1, 2, 4}
{3, 4}
True
True
True
1
{2, 3, 4}
{1, 2, 4}
{1, 2, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
set()

In [124]:
#Flow control statements
#Decision statements
num1=int(input("enter a number:"))
if num1%2==0:
    print(num1," is an even number.")

enter a number: 12

12  is an even number.

In [126]:
num1=int(input("enter a number:"))
if num1%2!=0:
    print(num1," is an odd number.")

enter a number: 13

13  is an odd number.

In [128]:
num1=int(input("enter a number:"))
if num1%2!=0:
    print(num1," is an odd number.")
else:
    print(num1, "is an even number.")

enter a number: 244

244 is an even number.

In [134]:
age=int(input("enter your age"))
if age>=18:
    print("Yes!! you're eligible to vote")
else:
    print("Sorry!! The minimum age for voting is 18.")

enter your age 19

Yes!! you're eligible to vote

In [142]:
# Divisible by 7 or not
num = int(input("enter a num"))
if num%7==0:
    print(num," is divisible by 7.")
else:
    print(num," is not divisible by 7.")

enter a num 14

14  is divisible by 7.

In [146]:
# multiple of 5
num = int(input("enter a num"))
if num%5==0:
    print("hello")
else:
    print("bye")

enter a num 15

hello

In [164]:
num = int(input("enter two digit num"))
if num>=10 and num<=99:
    ones_num=num%10
    print("num in ones position is ",ones_num)
else:
    print("kindly enter a two digit num")

enter two digit num 12

num in ones position is  2

In [180]:
#last digit divisible by 3
num = int(input("enter two digit num"))
ones_num=num%10
if(ones_num%3==0):
    print(ones_num,"is divisible by 3")
else:
    print("Oops !! not divisible by 3")

enter two digit num 13

3 is divisible by 3

In [199]:
#input a num and check num is greater or less than 25
num = int(input("enter a num"))
if num>25:
    print(num,"is greater than 25")
else:
    print(num,"is less than 25")

enter a num 26

26 is greater than 25

In [203]:
#Number positive or negative
num = int(input("enter a num"))
if num>0:
    print(num,"is positive")
else:
    print(num,"is negative")

enter a num 12

12 is positive

In [76]:
#while loop
n=5 # n is known as iterative variable
while n>0:
    print(n)
    n=n-1
print("Done")

5
4
3
2
1
Done

In [3]:
#for loop
n=int(input("enter num"))
even=0
odd=0
i=0
for i in range(n):
    if i%2==0:
        even=even+i
    else:
        odd=odd+i
print("Sum of even number is ",even," and sum of odd number is ",odd)

enter num 10

Sum of even number is  20  and sum of odd number is  25

In [5]:
#multiplication table of 2
for i in range(1, 11):  
    print(2*i)

2
4
6
8
10
12
14
16
18
20

In [7]:
#multiplication table of 2
for i in range(2, 11,2):  
    print(i)

2
4
6
8
10

In [1]:
#multiplication table
for i in range(2, 11,2):  
    print(i)

2
4
6
8
10

In [11]:
#print odd and even numbers till 20

# Print even numbers
print("Even numbers:")
for i in range(1, 21):
    if i % 2 == 0:
        print(i, end=" ")

print("\n")

# Print odd numbers
print("Odd numbers:")
for i in range(1, 21):
    if i % 2 != 0:
        print(i, end=" ")

Even numbers:
2 4 6 8 10 12 14 16 18 20

Odd numbers:
1 3 5 7 9 11 13 15 17 19

In [13]:
# Print the first 10 natural numbers
for i in range(1, 11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [31]:
#calculate the sum of numbers from 1 to a user-provided number using a for loop,

n = int(input("Enter a number: "))
sum_n = 0
for i in range(1, n+1 ):
    sum_n += i
print("The sum of numbers from 1 to",n,"is",sum_n)

Enter a number:  5

The sum of numbers from 1 to 5 is 15

In [35]:
l=[1,2,3]
# Print each value using a for loop
print("The values in the list are:")
for i in l:
    print(i)

The values in the list are:
1
2
3

In [41]:
#add values to list using loop
l1=[]
n = int(input("How many values do you want to add to the list? "))
for i in range(n):
    value = input("Enter value")
    l1.append(value)
print("The final list is:", l1)

How many values do you want to add to the list?  3
Enter value 5
Enter value 10
Enter value 20

The final list is: ['5', '10', '20']

In [43]:
#print first 10 natural numbers using while loop
i = 1  
while i <= 10:  
    print(i)  
    i += 1

1
2
3
4
5
6
7
8
9
10

In [3]:
#print odd and even numbers till 20

number = 1
print("Even numbers:")
while number <= 20:
    if number % 2 == 0:
        print(number, end=' ')
    number += 1

number = 1
print("\nOdd numbers:")
while number <= 20:
    if number % 2 != 0:
        print(number, end=' ')
    number += 1

Even numbers:
2 4 6 8 10 12 14 16 18 20
Odd numbers:
1 3 5 7 9 11 13 15 17 19

In [5]:
# Print even numbers
number = 2
print("Even numbers:")
while number <= 20:
    print(number, end=' ')
    number += 2

# Print odd numbers
number = 1
print("\nOdd numbers:")
while number <= 20:
    print(number, end=' ')
    number += 2

Even numbers:
2 4 6 8 10 12 14 16 18 20
Odd numbers:
1 3 5 7 9 11 13 15 17 19

In [10]:
odd_numbers = []
even_numbers = []

num = 1  

while num <= 10:
    odd_numbers.append(num)     
    even_numbers.append(num + 1)
    num += 2  

print("Odd numbers:", odd_numbers)
print("Even numbers:", even_numbers)

Odd numbers: [1, 3, 5, 7, 9]
Even numbers: [2, 4, 6, 8, 10]

In [33]:
#Task
#mark user input , and find the grade - if,elif 
mark = float(input("Enter your mark (out of 100): "))
if mark >= 90:
    grade = 'A'
elif mark >= 80:
    grade = 'B'
elif mark >= 70:
    grade = 'C'
elif mark >= 60:
    grade = 'D'
elif mark >= 50:
    grade = 'E'
else:
    grade = 'F'

print("Your grade is:",grade)

Enter your mark (out of 100):  55

Your grade is: E

In [35]:
#Task -num positive or negative or zero using if elif

num = float(input("Enter a number: "))
if num > 0:
    result = "Positive"
elif num < 0:
    result = "Negative"
else:
    result = "Zero"
print(f"The number is: {result}")

Enter a number:  -2

The number is: Negative

In [37]:
#user input any number from 1-7 and find days like sun-mon

num = int(input("Enter a number between 1 and 7: "))
if num == 1:
    day = "Sunday"
elif num == 2:
    day = "Monday"
elif num == 3:
    day = "Tuesday"
elif num == 4:
    day = "Wednesday"
elif num == 5:
    day = "Thursday"
elif num == 6:
    day = "Friday"
elif num == 7:
    day = "Saturday"
else:
    day = "Invalid input. Please enter a number between 1 and 7."
print(f"The day corresponding to number {num} is: {day}")

Enter a number between 1 and 7:  3

The day corresponding to number 3 is: Tuesday

In [39]:
#task - find greatest of three num

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

if num1 >= num2 and num1 >= num3:
    greatest = num1
elif num2 >= num1 and num2 >= num3:
    greatest = num2
else:
    greatest = num3
print(f"The greatest number is: {greatest}")

Enter the first number:  100
Enter the second number:  20
Enter the third number:  300

The greatest number is: 300.0

In [41]:
#read values from 1-12 and print months

num = int(input("Enter a number between 1 and 12: "))
if num == 1:
    month = "January"
elif num == 2:
    month = "February"
elif num == 3:
    month = "March"
elif num == 4:
    month = "April"
elif num == 5:
    month = "May"
elif num == 6:
    month = "June"
elif num == 7:
    month = "July"
elif num == 8:
    month = "August"
elif num == 9:
    month = "September"
elif num == 10:
    month = "October"
elif num == 11:
    month = "November"
elif num == 12:
    month = "December"
else:
    month = "Invalid input. Please enter a number between 1 and 12."
print(f"The month corresponding to number {num} is: {month}")

Enter a number between 1 and 12:  5

The month corresponding to number 5 is: May

In [99]:
#Other String functions
value="Hello all"
print(value.count('l'))
print(value.center(20,'#'))
print(value.endswith('l'))
print(value.startswith('l'))
print(value.swapcase())
print(value.casefold())
print(value.capitalize())
txt="H\te\tl\tl\to"
x=txt.expandtabs(4)
print(x)
print("hei {}".format(x))

a="hello"
name=["nimisha","sreeshma","asla"]
print(a.join(name))

pro={"name":['nimisha','sreeshma','asla'],"profession":['DS','DA','DA'],"age":[25,26,24]}
print(pro)
print('{name[0]} is a {profession[0]} and her age is {age[0]}'.format_map(pro))

names="nnimisha"
print(names.index('s'))
print(names.rindex('n'))
print(names.find('im'))
print(names.find('m',2,3))

t="abcd123"
print(t.isalnum())
print(t.isalpha())
print(t.isnumeric())
a="123"
print(a.isdigit())

print(names.islower())
print(names.isupper())
print(names.isprintable())

4
#####Hello all######
True
False
hELLO ALL
hello all
Hello all
H   e   l   l   o
hei H   e   l   l   o
{'name': ['nimisha', 'sreeshma', 'asla'], 'profession': ['DS', 'DA', 'DA'], 'age': [25, 26, 24]}
nimisha is a DS and her age is 25
5
1
2
-1
True
False
False
True
True
False
True

In [97]:
demo="hello world"
demo1="    "
print(demo.isspace())
print(demo1.isspace())
demo2="True"
print(demo2.isidentifier())
print(demo2.title())

False
True
True
True

In [145]:
a="hello"
print(a.ljust(10,"#"))
print(a.rjust(10,"#"))
print(a.upper())
print(a.lower())

b="    h   ,,,,,"
print(b.rstrip(','))
print(b.lstrip())
print(b.strip(','))

txt="this is a partiion statement"
print(txt.partition('is'))
print(txt.partition('e'))

print(txt.zfill(35))

hello#####
#####hello
HELLO
hello
    h
h   ,,,,,
    h
('th', 'is', ' is a partiion statement')
('this is a partiion stat', 'e', 'ment')
0000000this is a partiion statement

In [165]:
demo="Hello\n all"
print(demo.splitlines())

demo1="hell,all"
print(demo1.split(','))


demo2="this is a partiion statement"
print(demo2.rpartition('p'))
print(demo2.replace('is','as'))

['Hello', ' all']
['hell', 'all']
('this is a ', 'p', 'artiion statement')
thas as a partiion statement

In [179]:
txt="Hello Nim"
t1=txt.maketrans("Ni","Mo")
print(t1)

t2=txt.maketrans({'N':'A','i':'o'})
print(t2)

t3=txt.maketrans("Nim","Mom","H")
print(t3)

print(txt.translate(t1))
print(txt.translate(t2))
print(txt.translate(t3))

{78: 77, 105: 111}
{78: 'A', 105: 'o'}
{78: 77, 105: 111, 109: 109, 72: None}
Hello Mom
Hello Aom
ello Mom

In [197]:
#frozen set

#Returns a shallow copy of the frozenset.
fs = frozenset([1, 2, 3])
fs_copy = fs.copy()
print(fs_copy)  # Output: frozenset({1, 2, 3})

#Returns a new frozenset with elements from the set and all others.
fs = frozenset([1, 2, 3])
result = fs.union({4, 5}, {6})
print(result)  # Output: frozenset({1, 2, 3, 4, 5, 6})

#Returns a new frozenset with elements common to the set and all others.
fs = frozenset([1, 2, 3])
result = fs.intersection({2, 3, 4}, {3, 5})
print(result)  # Output: frozenset({3})

#Returns a new frozenset with elements in the set that are not in the others.
fs = frozenset([1, 2, 3])
result = fs.difference({2, 3, 4})
print(result)  # Output: frozenset({1})

#Returns a new frozenset with elements in either the set or the other, but not in both.
fs = frozenset([1, 2, 3])
result = fs.symmetric_difference({2, 3, 4})
print(result)  # Output: frozenset({1, 4})

#Checks if the frozenset is a subset of another set.
fs = frozenset([1, 2])
result = fs.issubset({1, 2, 3})
print(result)  # Output: True

#Checks if the frozenset is a superset of another set.
fs = frozenset([1, 2, 3])
result = fs.issuperset({1, 2})
print(result)  # Output: True

#Checks if the frozenset has no elements in common with another set.
fs = frozenset([1, 2, 3])
result = fs.isdisjoint({4, 5})
print(result)  # Output: True

#Returns the number of elements in the frozenset.
fs = frozenset([1, 2, 3])
length = len(fs)
print(length)  # Output: 3

#Checks if an element is in the frozenset.
fs = frozenset([1, 2, 3])
result = 2 in fs
print(result)  # Output: True

#Returns an iterator over the elements of the frozenset.
fs = frozenset([1, 2, 3])
for element in fs:
    print(element)
# Output: 1 2 3 (in any order)

frozenset({1, 2, 3})
frozenset({1, 2, 3, 4, 5, 6})
frozenset({3})
frozenset({1})
frozenset({1, 4})
True
True
True
3
True
1
2
3

In [1]:
#largest of numbers from list
my_list = [10, 24, 15, 99, 7, 42]
largest_number = max(my_list)
print("The largest number is:", largest_number)

The largest number is: 99

In [29]:
#write a program to accept a string value from user and display the count of each char in that string
value= input("Enter a string: ")
for i in set(value):
    print(i,",",value.count(i))

Enter a string:  nimisha

n , 1
i , 2
m , 1
h , 1
a , 1
s , 1

In [27]:
str="nimisha"
for i in str:
    print(i,",",str.count(i))

n , 1
i , 2
m , 1
i , 2
s , 1
h , 1
a , 1

In [33]:
#a new tuple that includes only the values 44 and 55 from your existing tuple 
t = (11, 22, 33, 44, 55, 66)
new_tuple = t[3:5]
print(new_tuple)

(44, 55)

In [69]:
#create a Python program that iterates from 1 to 10 and displays a table with the fields "Current Num," "Previous Num," and "Sum"
previous_num = 0
current_num = 1
print("Current Num | Previous Num | Sum   ")
print("-" * 36)
for current_num in range(1, 10):
    total_sum = current_num + previous_num
    print(current_num,"          |    ",previous_num,"       | ",total_sum)
    previous_num = current_num

Current Num | Previous Num | Sum
------------------------------------
1           |     0        |  1
2           |     1        |  3
3           |     2        |  5
4           |     3        |  7
5           |     4        |  9
6           |     5        |  11
7           |     6        |  13
8           |     7        |  15
9           |     8        |  17

In [81]:
#print numbers which is divisible by 5 till 60
for i in range(1, 61):
    if i % 5 == 0:
        print(i)

5
10
15
20
25
30
35
40
45
50
55
60

In [127]:
#prime or not

num = int(input("Enter a number: "))#60
if num <= 1:
    print(num,"is not a prime number.")
else:
    is_prime = True
    for i in range(2, num):  
        if num % i == 0:
            is_prime = False            

    if is_prime:
        print(num," is a prime number.")
    else:
        print(num," is not a prime number.")

Enter a number:  12

12  is not a prime number.

In [123]:
num=int(input("Enter a number:"))
is_prime=True
if num <= 1:
    is_prime=False
else:
    i=2
    while i < num:
        if num % i == 0:
            is_prime=False
        i += 1
if is_prime:
    print(num," is a prime number.")
else:
    print(num," is not a prime number.")

Enter a number: 7

7  is a prime number.

In [32]:
#multiplication table
num = int(input("enter number to get table:"))#5
print("=" * 36)
print("Multiplication Table")
print("." * 36)
for i in range(1,11):   #1 2 3....10
    result = i*num #result=1*5=5 2*5=10
    # print(i,"*",num,"=",result)
    print(f"{i} * {num} = {result}") #

enter number to get table: 5

====================================
Multiplication Table
....................................
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [46]:
#create a list and display all elements using for loop
lst = ["apple","orange","mango"]

for i in lst:
    print(i)

apple
orange
mango

In [68]:
#user input a string and reverse it
actual_string = input("enter a string") #nimisha
reverse_string = ""
print("the actual string:",actual_string)

# for i in actual_string[::-1]: #ahsimin
#     reverse_string = reverse_string + i #ah...n
# print(reverse_string)

for i in actual_string: #nimisha
    reverse_string = i + reverse_string  #n+""=n  i+n=in  m+in=min i+min=imin s+imin=simin h+simin=hsimin a+hsimin=ahsimin
print(reverse_string)

enter a string nimisha

the actual string: nimisha
ahsimin

In [90]:
#factorial of a number: 5*4*3*2*1=120
num = int(input("enter a number:")) #5
fact = 1 #1
for i in range(1,num+1): #(1,6) i=1   i=2   i=3....i=5
    fact *= i #fact=fact*i  |  fact=1*1=1 fact=1*2=2 fact=2*3=6....fact=120
print(f"{fact} is the factorial of {num}") #120 is the factorial of 5

enter a number: 6

720 is the factorial of 6

In [124]:
#input a string and findout how many digits ,char in that and print the count
str = input("Enter a String:") 
print(str)
digit_count = 0
alpha_count = 0
for i in str:
    if i.isdigit():
        digit_count += 1
    elif i.isalpha():
        alpha_count += 1
    else:
        print("enter a valid string")
print(f"there are {digit_count} digits in {str}")
print(f"there are {alpha_count} alphabets in {str}")

Enter a String: @

@
enter a valid string
there are 0 digits in @
there are 0 alphabets in @

task - using while loop
1.factorial 
2.multiplication table

In [1]:
# 1.factorial using while
num = int(input("Enter a number: "))  # 5
fact = 1  
i = 1     
while i <= num:
    fact *= i  
    i += 1     
print(f"{fact} is the factorial of {num}")

Enter a number:  5

120 is the factorial of 5

In [5]:
# 2.multiplication table using while

num = int(input("Enter number to get table: "))  
print("=" * 36)
print("Multiplication Table")
print("." * 36)

i = 1
while i <= 10:  
    result = i * num  
    print(f"{i} * {num} = {result}")
    i += 1

Enter number to get table:  5

====================================
Multiplication Table
....................................
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [17]:
#Using nested if- read a number and check whether they are two digit, 
#if yes, check the value in one's position is divisible by 3 or not
num = int(input("enter two digit num")) #16
if num >= 10 and num <= 99: #16>=10 and 16<=99 True
    ones_num=num % 10 #16%10=6
    if(ones_num % 3 == 0): #6%3==0 True
        print(f"{ones_num} is divisible by 3") #True
    else:
        print(f"Oops !! {ones_num} divisible by 3") #False
else:
    print("kindly enter a two digit num")

enter two digit num 12

Oops !! 2 divisible by 3

print pattern
****
****
****
****

In [30]:
for i in range(4):
    for j in range(4):
        print("*",end=" ")
    print("\n")

* * * *

* * * *

* * * *

* * * *

*
**
***
****

In [34]:
for i in range(5):
    for i in range(0,i):
        print("*",end=" ")
    print("\n")

*

* *

* * *

* * * *

1
12
123
1234

In [75]:
for i in range(1,5):
    for j in range(1,i+1):
        print(j,end="")
    print("\n")

1

12

123

1234

1234
1234
1234
1234

In [61]:
for i in range(1,5):
    for j in range(1,5):
        print(j,end="")
    print("\n")

1234

1234

1234

1234

1
22
333
4444

In [73]:
for i in range(1,5):
    for j in range(1,i+1):
        print(i,end="")
    print("\n")

1

22

333

4444

1111
2222
3333
4444

In [59]:
for i in range(1,5):
    for j in range(1,5):
        print(i,end="")
    print("\n")

1111

2222

3333

4444

In [53]:
r=5
b=0
for i in range(r,0,-1):
    b+=1
    for j in range(1,i+1):
        print(b,end=" ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [23]:
for i in range(6,0,-1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [15]:
for i in range(6,1,-1):
    for j in range(1,i):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

Task:
1.accept the details of a student(rollno,name,mark) and display it 
2.get a largest number from a list
3.Convert the datatype of the items of a list
4.reverse a list using for loop
5.find sum of square of the numbers in a list
6.Using for loop, iterate from 1 to 15, for each iteration check if the current number is odd or even
7.simple calculator program(add,sub,mul,div)

In [63]:
#1.accept the details of a student(rollno,name,mark) and display it 
name=input("Enter your name")
rollno=int(input("enter your rollno"))
course=input("Enter your course")
tmark=float(input("Enter total mark you obtained."))
print("-"*40)

print(f"{name}'s Details")
print("-"*40)
print(f"Name:     {name}")
print(f"Rollno:   {rollno}")
print(f"Course:   {course}")
print(f"Mark:     {tmark}")

Enter your name Nimisha
enter your rollno 12
Enter your course DS
Enter total mark you obtained. 99

----------------------------------------
Nimisha's Details
----------------------------------------
Name:     Nimisha
Rollno:   12
Course:   DS
Mark:     99.0

In [105]:
# 2.get a largest number from a list
lst=[100,20,35,120]
largest=lst[0]
for i in lst:
    if i > largest :
        largest=i
print(f"the largest number is {largest}")

the largest number is 120

In [8]:
# 3.Convert the datatype of the items of a list
lst=["1","2","3"]
print(type(lst[1]))
c_lst=[]
for i in lst:
    c_lst.append(int(i))
    for i in c_lst:
        print(type(i))
# print(c_lst)
# print(type(c_lst[1]))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [127]:
# 4.reverse a list using for loop
lst=[100, 20, 35, 120]
reversed_lst=[]
for item in lst[::-1]:
    reversed_lst.append(item)
print(reversed_lst)

[120, 35, 20, 100]

In [129]:
# 5.find sum of square of the numbers in a list
lst=[1, 2, 3, 4]
sum_of_squares=0
for number in lst:
    sum_of_squares+=number** 2
print(sum_of_squares)

30

In [133]:
# 6.Using for loop, iterate from 1 to 15, for each iteration check if the current number is odd or even
for num in range(1, 16): 
    if num%2==0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd

In [151]:
# 7.simple calculator program(add,sub,mul,div)
num1=float(input("Enter first number: "))
print("Select operation:")
choice=input("Choose any operation : (+ - * /): ")
num2=float(input("Enter second number: "))
if choice in ['+', '-', '*', '/']:
    if choice=='+':
        result=num1+num2
        print(f"{num1}+{num2}={result}")
    elif choice=='-':
        result=num1-num2
        print(f"{num1}-{num2}={result}")
    elif choice=='*':
        result=num1*num2
        print(f"{num1}*{num2}={result}")
    elif choice=='/':
        if num2!=0:
            result=num1/num2
            print(f"{num1}/{num2}={result}")
        else:
            print("oopsie,,error")
else:
    print("Invalid input")

Enter first number:  12

Select operation:

Choose any operation : (+ - * /):  -
Enter second number:  13

12.0-13.0=-1.0

In [32]:
#armstrong numbers

num = input("Enter a number: ") #"153"

num_l = len(num) #3
num_o = int(num) #153
number = num_o #153

arm_sum = 0

while number > 0:  #153 > 0
    digit = number % 10 # digit = 153 % 0 = 3
    arm_sum += digit ** num_l  #3 ** 3
    number //= 10 #153 // 10=15

if arm_sum == num_o: #153 == 153
    print("This is an Armstrong number")
else:
    print("This is not an Armstrong number")

Enter a number:  153

This is an Armstrong number

In [38]:
#armstrong numbers

num = input("Enter a number: ") #"153"

num_l = len(num) #3
num_o = int(num) #153
number = num_o #153

arm_sum = 0
for i in num:
    arm_sum+=int(i)**num_l
    
if arm_sum == num_o: #153 == 153
    print("This is an Armstrong number")
else:
    print("This is not an Armstrong number")

Enter a number:  153

This is an Armstrong number

In [65]:
#find the length of the list  without using len()
lst=[1,2,3,4,5,2,4,5]
l=0
for i in lst:
    l+=1
print(f"length of list is {l}")

length of list is 8

In [53]:
#write a program to swap values of two variable without using temp variable
num1=int(input("Enter first num:"))
num2=int(input("Enter second num:"))
print("Before swapping")
print("-"*36)
print(f" num1 : {num1}") #10
print(f" num2 : {num2}") #20

num1=num1+num2 #num1=10+20=30
num2=num1-num2 #num2=30-20=10
num1=num1-num2 #num1=30-10=20

print("After swapping")
print("-"*36)
print(f" num1 : {num1}") #20
print(f" num2 : {num2}") #10

Enter first num: 10
Enter second num: 20

Before swapping
------------------------------------
 num1 : 10
 num2 : 20
After swapping
------------------------------------
 num1 : 20
 num2 : 10

In [55]:
#print even number in a list
lst=[1,2,3,4,5,6]
for i in lst:
    if i % 2 == 0 :
        print(i)

2
4

In [57]:
#print odd number in a list
lst=[1,2,3,4,5,6]
for i in lst:
    if i % 2 != 0 :
        print(i)

1
3
5

In [59]:
#print negative number in a list
lst=[1,2,3,4,5,6,-1,-2,-6]
for i in lst:
    if i<0 :
        print(i)

-1
-2
-6

In [75]:
#leap year
year = int(input("Enter a year: "))
if year % 4 == 0: #divisible by 4
    if year % 100 == 0:  #if century,it must be divisible by 400 to be leap year
        print("yes its a century year")
        if year % 400 == 0: #divisible by 400
            print("Yes, it's a leap year.")
        else:
            print("No, it's not a leap year.")
    else:
        print("Yes, it's a leap year.")
else:
    print("No, it's not a leap year.")

Enter a year:  2024

Yes, it's a leap year.

In [1]:
#write a program to swap values of two variable without using temp variable
num1=int(input("Enter first num:"))
num2=int(input("Enter second num:"))
print("Before swapping")
print("-"*36)
print(f" num1 : {num1}") #10
print(f" num2 : {num2}") #20

num1,num2=num2,num1

print("After swapping")
print("-"*36)
print(f" num1 : {num1}") #20
print(f" num2 : {num2}") #10

Enter first num: 10
Enter second num: 20

Before swapping
------------------------------------
 num1 : 10
 num2 : 20
After swapping
------------------------------------
 num1 : 20
 num2 : 10